/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./app/utils/scss/vars";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
